html,
body {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* ----------------------header---------------------- */

:root {
    --text-color: #FFFFFF;
}

/* ----------------------header---------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    width: 1440px;
    margin: auto;
}

.header .list {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header .list .item {
    color: var(--text-color);
}

.header .width {
    width: 251px;
}

.header .width .btn-connect {
    background-color: #05BB17;
    color: var(--text-color);
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
}

/* ----------------------hero-sect---------------------- */

.hero-sect {
    background-image: url("./assest/image/bg-hero.webp");
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    height: 658px;
    padding-top: 15.3%;
}

.hero-sect .title {
    color: var(--text-color);
    font-size: 53px;
    text-align: center;
    margin: 0px;
}

.hero-sect .players-img {
    margin: auto;
    width: 70%;
}